<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/index.css">
  <title>Home Page</title>
</head>
<body>
  <h class="head">Basic Matrix Functions</h>
  <h class="desc">ma1 and ma2 are the arrays in the form<br>[ [ a11 , a12 , a13 ] , [ a21 , a22 , a23 ] , [ a31 , a32 , a33 ] ]</h>
  <div class="container1">
    <ul class="list">
      <li>/add/ma1/ma2 - Addition</li>
      <li>/sub/ma1/ma2 - Subtraction</li>
      <li>/mmul/ma1/ma2 - Matrix Multiplication</li>
      <li>/smul/n/ma2 - Scalar Multiplication</li>
      <li>/tr/ma1 - Transpose</li>
      <li>/inv/ma1 - Inverse</li>
      <li>/det/ma1 - Determinant</li>
      <li>/co/ma1 - Cofactor</li>
      <li>/ad/ma1 - Adjoint</li>
    </ul>
  </div>

</body>
</html>